.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.header .HeaderLogo {
    display: flex;
}
.header .HeaderLogo img {
    margin-right: 15px;
}
.header .HeaderLogo h1{
    color: #181818;
    font-size: 24px;
    letter-spacing: 1%;
    text-transform: uppercase;
    font-weight: 800;
}
.header .Headerlogo p {
    color: #7b7b7b;
}

@media (max-width: 650px) {
    .header .container{
        flex-direction: column;
        gap: 20px;
    }
}
