body {
  background-color: #ffdf8c;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;
}

.content .contentTitle {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 38px;
  margin-top: 60px;
  margin-bottom: 50px;

}

.content .contentItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 11px;
}

@media (max-width: 1400px) {
  .content .contentItems {
    grid-template-columns: repeat(3, 1fr);

  }
}

@media (max-width: 1060px) {
  .content .contentItems {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 820px) {
  .content .contentTop {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

@media (max-width: 730px) {
  .content .contentItems {
    grid-template-columns: repeat(1, 1fr);

  }
}

@media (max-width: 650px) {
  .wrapper {
    width: calc(100vw - 50px);
  }

  .content {
    padding: 0px 0 20px;
  }
}

.content .contentTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container--cart {
  max-width: 820px;
  margin: 90px auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cart .cart__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.cart .cart__clear {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.cart__clear span {
  color: #b6b6b6;
  font-size: 18px;
}

.cart__clear span,
svg,
path {
  transition: .3s;
}

.cart__clear:hover svg path {
  stroke: #3f3f3f;
}

.cart__clear:hover span {
  color: #3f3f3f;

}

.cart .content__items {
  display: block;
}

.cart .content__items .cart__item {
  display: flex;
  width: 100%;
  border-top: 1px solid #f4f4f4;
  padding-top: 30px;
  margin-top: 30px;
}

.cart .content__title {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  margin: 0;
  color: #000000;
}

.cart .content__title svg {
  position: relative;
  top: 0px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cart .content__title path {
  stroke: #3f3f3f;
  stroke-width: 2;
}

.cart .cart__item .cart__item-img {
  display: flex;
  align-items: center;
  margin-right: 15px;
  width: 10%;
}

.cart .cart__item-img img {
  width: 80px;
  height: 80px;
}

.cart .cart__item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 40%;
}

.cart__item-info h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
}

.cart__item-info p {
  font-size: 18px;
  color: #8d8d8d;
}

.cart .cart__item-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13%;
}

.cart__item-count b {
  font-size: 22px;
}

.cart__item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.cart__item-price b {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.01em;
}

.cart__item-remove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 4%;
}

.cart__item-remove .button {
  border-color: #D7D7D7;
  transition: .3s;
}

.cart__item-remove svg path {
  fill: #D0D0D0;
  transition: .3s;

}

.button svg {
  width: 11.5px;
  height: 11.5px;
  position: relative;
  transition: .3s;
}

.cart__item-remove .button:hover svg path {
  fill: #f4f4f4;
}

.cart__item-remove .button:hover {
  background: #3f3f3f;
  border-color: #3f3f3f;
}

.cart__bottom {
  margin: 50px 0;
}

.cart__bottom-details {
  display: flex;
  justify-content: space-between;
}

.cart__bottom-details span {
  font-size: 22px;
}

.cart__bottom-details span:last-of-type b {
  color: #fe5f1e;
}

.cart__bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.cart__bottom-buttons .go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  border-color: #b6b6b6;
}

.go-back-btn span {
  color: #b6b6b6;
  font-weight: 600;
}

.go-back-btn:hover {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
}

.go-back-btn svg {
  width: 11px;
  margin-top: 4px;
  height: 16px;
  margin-right: 12px;
}

.go-back-btn svg path {
  fill: transparent;
  stroke-width: 2;
}

.cart__bottom-buttons .pay-btn {
  font-size: 16px;
  font-weight: 600;
  width: 210px;
  padding: 16px;
  background: #fff;
  border-color: #fe5f1e;
}

.pay-btn span {
  color: #fe5f1e;
}

.cart__bottom-buttons .pay-btn:hover {
  background: #fe5f1e;
}

.cart__bottom-buttons .pay-btn:hover span {
  color: #fff;
}

/* pagination */
.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination .selected a {
  background: #fe5f1e;
  color: #fff;
}

.pagination a:hover {
  transform: scale(1.2);
  background: #fe5f1e;
  color: #fff;
}

.pagination li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .35s;
  color: #fe5f1e;
  font-weight: 700;
  padding: 10px 10px 12px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid #fe5f1e;
  width: 40px;
  height: 40px;
}